/* Reset de estilos para remoção de margens e preenchimentos padrão */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif; /* Tipo de fonte principal */
    font-size: 16px; /* Tamanho de fonte principal */
}

/* Modo Noturno */
body.dark-mode {
    background-color: #222; /* Cor de fundo para Modo Noturno */
    color: #fff; /* Cor do texto para Modo Noturno */
}

/* Títulos */
h1, h2, h3 {
    font-weight: bold; /* Peso da fonte para títulos */
}

/* Links */
a {
    color: #007bff; /* Cor padrão dos links */
}

/* Botões Principais */
.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Botões Secundários */
.button-secondary {
    background-color: #f0f0f0; /* Cor de fundo para botões secundários */
    color: #333; /* Cor do texto para botões secundários */
}

/* Cabeçalho */
.header {
    background-color: #007bff; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
}

/* Rodapé */
.footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
}

/* Caixas de Destaque */
.highlight-box {
    background-color: #f9f9f9; /* Cor de fundo da caixa de destaque */
    border: 1px solid #ccc; /* Borda da caixa de destaque */
    padding: 20px; /* Espaçamento interno */
}

/* Ícones */
.icon {
    font-size: 24px; /* Tamanho do ícone */
    color: #007bff; /* Cor do ícone */
}

/* Listas */
.list {
    list-style: disc; /* Estilo de marcador para listas */
    margin-left: 20px; /* Espaçamento à esquerda das listas */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    /* Estilos para telas pequenas */
    body {
        font-size: 14px; /* Tamanho de fonte menor para telas pequenas */
    }

    /* Adicione estilos específicos para telas pequenas conforme necessário */
}
