.main-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90wv;
  height: 80vh;
}

.contact-column {
  flex: 1;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff; /* ou qualquer cor que se ajuste ao seu design */
}

.message-form, .career-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: var(--logo-green);
  color: white;
  border: none;
  cursor: pointer;
}

/* Oculta a seção em telas menores */
@media (max-width: 768px) {
  .main-contact {
    flex-direction: column;
  }
}
