/*Script Header.css*/
:root {
  --logo-green: #4CAF50;
  --header-height: 15vh; /* Altura do cabeçalho definida como variável para fácil ajuste */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo preto opaco */
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--header-height);
  transition: background-color 0.3s, height 0.3s;
}

.logo-container {
  flex-basis: 25%; /* Espaço alocado para a logo */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--header-height);
  transition: all 0.3s;
}

.logo-container img {
  width: 120px; /* Largura da logo */
  transition: opacity 0.3s, transform 0.3s;
}

/* Logo some e nome da empresa aparece após rolagem */
body.scrolled .logo-container img {
  transform: translateY(-100%); /* Move a logo para cima */
  opacity: 0;
}

body.scrolled .logo-container::after {
  content: 'Gunderson Marine'; /* Nome da empresa */
  color: var(--logo-green);
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s;
}

.navigation {
  flex-basis: 50%; /* Espaço alocado para navegação */
  display: flex;
  justify-content: center;
  font-size: 2vw; /* Ajusta o tamanho da fonte do título baseado na largura da tela */
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.settings {
  flex-basis: 25%; /* Espaço alocado para configurações */
  display: flex;
  justify-content: flex-end;
}

.settings button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

/* Estilos para o modo escuro */
body.dark-mode .header {
  background-color: rgba(0, 0, 0, 0.5);
}

body.dark-mode .navigation a,
body.dark-mode .settings button {
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .logo-container {
    justify-content: center;
  }

  .navigation,
  .settings {
    display: none;
  }

  body.scrolled .logo-container::after {
    display: none; /* Oculta o nome da empresa em telas pequenas após rolagem */
  }
}
