/* NewsPreview.css */
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  overflow-x: hidden;
  height: 80vh;
  transition: background-color 1.5s;
}

.news-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.news-item {
  background-size: cover;
  background-position: center;
  width: 45vh;
  height: 60vh;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgba(55, 55, 55, 0.8);
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.news-item h3 {
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  word-wrap: break-word;
}

.news-item p {
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  word-wrap: break-word;
  white-space: normal;
}

.news-item a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 24px;
  background-color: rgba(239, 32, 32, 0.5);
  border: none;
  cursor: pointer;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
  .news-item {
    width: 80vw;
    height: 106.666vw;
    flex: 0 0 auto;
  }

  .news-item h3,
  .news-item p,
  .news-item a {
    font-size: 18px;
  }
}

/* Dark mode styles */
.news-container.dark-mode {
  background-color: rgba(0, 0, 0, 0.8);
  color: #391717;
}

.news-item.dark-mode {
  background-color: rgba(0, 0, 0, 0.5);
  color: #0c218b;
}

.scroll-button.dark-mode {
  background-color: rgba(239, 32, 32, 0.5);
  color: #c3fb28;
}

.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff; /* Cor do ícone no modo escuro */
}
