/* ServicePreview.css */

.service-container {
  width: 100%; /* Largura total */
  padding: 20px; /* Espaçamento interno */
  overflow-x: hidden; /* Esconde overflow horizontal */
  display: flex;
  justify-content: space-around; /* Distribui os cards igualmente com espaçamento ao redor */
}

.service-item {
  background-size: cover; /* Imagem de fundo cobre todo o espaço */
  background-position: center; /* Centraliza imagem de fundo */
  width: 25vw; /* Largura ajustada para 3 cards com espaçamento de 20px */
  height: 30vw; /* Altura para manter proporção de 4:3 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui espaço entre título, texto e link */
  align-items: flex-start; /* Alinha itens internos à esquerda */
  border-radius: 20px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombreamento */
  color: rgba(0, 0, 0, 0.8); /* Cor do texto */
  padding: 10px; /* Espaçamento interno */
  margin: 0 20px; /* Margem horizontal para espaçamento entre os cards */
}

.service-item h3 {
  align-self: flex-start; /* Alinha o título na parte superior esquerda */
  margin-bottom: 10px;
}

.service-item p {
  align-self: center; /* Centraliza o texto */
  margin-bottom: 10px;
}

.service-item a {
  align-self: flex-end; /* Alinha o link na parte inferior direita */
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
    align-items: center;
  }
  .service-item {
    width: 80vw; /* Largura para telas menores */
    height: calc(80vw * 4 / 3); /* Altura para manter proporção */
    margin-bottom: 20px; /* Espaçamento entre cards quando estão em coluna */
  }
}

.dark-mode .service-container {
  background-color: #343a40; /* Cor de fundo para modo noturno */
}

.dark-mode .service-item {
  background-color: #495057; /* Cor de fundo dos cards para modo noturno */
  color: #f8f9fa; /* Cor do texto para modo noturno */
}
